<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Test Page</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
  </head>
  <body>
    <h1>
      Welcome to the test page!
    </h1>
    <h2>
      Look at these dags
    </h2>
    <img src="https://i.reddituploads.com/1ff9c413ef974565a5e0a2cc106f31b8?fit=max&h=1536&w=1536&s=75aed0f691e94e0031cc84b326a1d240" alt="Two happy dags">
    <p>
      One dag is
      <ul>
        <li>close</li>
        <li>grey</li>
        <li>and very small</li>
      </ul>
    </p>
    <p>
      The other dag is
      <ul>
        <li>far</li>
        <li>black</li>
        <li>and quite large</li>
      </ul>
    </p> 
    <br>
    <p>
      You can look at more dags
        <a href="https://www.reddit.com/r/aww/">here</a>.
    </p>
    <script src="../client.js"></script>
  </body>
</html>